*{
    margin: 0;
}

.boder{
    background-color: antiquewhite;
    border-radius: 8px;
}

.boder:hover{
    background-color: beige;
}

.body{
    width: 100%;
    height: 100vh;
    background: rgb(253, 253, 253);
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 100%;
    background: url('/img/img-about-us/backgr.jpg')no-repeat center/cover;
    display: flex;
   
    overflow: hidden;
}

header .left{
    position: relative;
    width: 100%;
    height: 100%;
}
header .left nav{
    position: relative;
    width: 90%;
    height: 10%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header .left nav h2{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 23px;
}

header .left nav ul{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .left nav ul li{
    list-style-type: none;
    padding: 20px 35px;
}

header .left nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

header .left nav ul li a:hover{
    color: gray;
}


/* Footer */
.footer .box-container{
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .footer .box-container .box{
    text-align: center;
 }
 
 .footer .box-container .box i{
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    
    
    margin-bottom: 1rem;
 }
 
 .footer .box-container .box h3{
    margin:1rem 0;
    font-size: 2rem;
    
 }
 
 .footer .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    
 }
 
 .footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    
    font-size: 2rem;
    
    /* padding-bottom: 7rem; */
 }


 /* container */

 header .left section{
    width: 40%;
    height: 80%;
    padding-left: 31%;
    display: flex;
    align-items: center;
    color: #fff;
}




 .row form{
    text-align: center;
    padding: 1rem 3.5rem;
    
    
    background-color:rgba(0,0,0,0.6);
    border-radius: .5rem;
}

.contact .row form .box{
    padding:20px;
    
    
  
    
   
    margin:.7rem 0;
    width: 50%;
}



.contact .row form textarea{
    height: 8rem;
    resize: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.has-submenu{
    position: relative;
 }
 
 .has-submenu:hover .submenu{
    display: block;
 
 }
 
 
 .submenu{
    padding: 0;
    display: none;
    position: absolute;
 }